# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Files placed under bin and obj
obj/
bin/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

SigPadCtrl/SigPadCtrl/obj/Release/SigPadCtrl.csprojResolveAssemblyReference.cache
SigPadCtrl/SigPadCtrl/obj/Release/SigPadCtrl.csprojResolveAssemblyReference.cache
*.suo
ClientcardFT3/ClientcardFT3.v12.suo
*.suo
ClientcardFT3/ClientcardFT3/obj/x86/Debug/ClientcardFT3.csproj.FileListAbsolute.txt